*{
  text-align: center;
  align-content: center;
}
#title{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}
